<div>
	<div>
		<label style="font-size: 20px;"><b>{{username}}</b> [<a href="{% url 'logout_user' %}">Выйти</a>]</label>
	</div>
</div>
<hr color="#cccccc" size="1">

<label>Сохранить текущую диаграмму с названием</label>
<input id="diagram-title" type="text" required class="inputtext">
<div align="right">
	<a class="button pretty-button" id="diagram-save" url="{% url 'save_diagram_for_user' %}" href="javascript:diagen.saveCurrentDiagram()">Сохранить</a>
</div>

<br><label>Сохраненные диаграммы</label>
<hr color="#cccccc" size="1">
{% for d in diagrams %}
	<a href="javascript:diagen.loadDiagramWithId({{d.id}})" style="color: black;"><b>{{d.title}}</b></a>
	<a style="float: right;" href="javascript:diagen.deleteDiagram({{d.id}})">&#x2716;</a><br>
	<hr color="#cccccc" size="1">
{% endfor %}