<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>some title</title>

		{% load static %}

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

	</head>

	<body>


	<!-- Bootstrap core JavaScript
	================================================== -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block jscript %}
	{% endblock %}
	
	</body>
</html>