<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>DiaGen</title>

		{% load static %}

		<link href="{% static 'css/codemirror.css' %}" rel="stylesheet">
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">
		<link href="{% static 'css/load-animation.css' %}" rel="stylesheet">

		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

	</head>

	<body>


    <div id="code-segm" class="wrap">

    <textarea id="textarea" name="textarea">
    </textarea>

    <canvas id="canvas"></canvas>

    <div id="linenumbers"></div>

    <div id="canvas-panner"></div>

    <div id="about" class="sidebar">
			<div class="content">
				

				<h2>Custom classifier styles</h2>
				<label>A directive that starts with "." define a classifier style.</label>

				#.box: fill=#8f8 dashed<br>
				#.blob: visual=ellipse<br>
				[&lt;box&gt; GreenBox]<br>
				[&lt;blob&gt; HideousBlob]

				<label>Available visuals are</label>

				visual=actor<br>
				visual=class<br>
				visual=database<br>
				visual=ellipse<br>
				visual=end<br>
				visual=frame<br>
				visual=hidden<br>
				visual=input<br>
				visual=none<br>
				visual=note<br>
				visual=package<br>
				visual=receiver<br>
				visual=rhomb<br>
				visual=roundrect<br>
				visual=sender<br>
				visual=start

				<label>Available modifiers are</label>

				center<br>
				bold<br>
				underline<br>
				italic<br>
				dashed<br>
				empty
			</div>

			<div class="logo-background"></div>
		</div>

	<div id="linemarker"></div>
    <div class="tools">
			<a class="logo" href="javascript:void(0)" onclick="diagen.toggleSidebar(&#39;about&#39;)" title="Об DiaGen"><h1>DiaGen</h1> &nbsp;</a>
			<a href="javascript:void(0)" onclick="diagen.toggleSidebar(&#39;about&#39;)" title="Об DiaGen">
				<img src="{% static 'img/info.png' %}">
			</a>
			<a href="http://translate.plantuml.com/ru/PlantUML_Language_Reference_Guide_RU.pdf" title="Справка о языке">
				<img src="{% static 'img/book.png' %}">
			</a>
			<a id="savebutton" href="javascript:void(0)" download="diagram.png" title="Сохранить диаграмму">
				<img src="{% static 'img/export.png' %}">
			</a>

			<a id="generatebutton" title="Сгенерировать диаграмму из текста">
				<img src="{% static 'img/generate.png' %}">
			</a>

			<a href="javascript:diagen.discardCurrentGraph()" title="Удалить эту диаграмму">
				<img src="{% static 'img/delete.png' %}">
			</a>



			<span id="tooltip"></span>

			<div class="canvas-tools" id="canvas-tools">
				<a id="refreshimage" href="javascript:diagen.refreshImage()" data-url="{% url 'get_diagram' %}" title="Обновить изображение">
					<img src="{% static 'img/refresh.png' %}">
				</a>
				<a href="javascript:diagen.magnifyViewport(2)" title="Увеличить изображение">
					<img src="{% static 'img/plus.png' %}">
				</a>
				<a href="javascript:diagen.resetViewport()" title="Восстановить масштаб изображения">
					<img src="{% static 'img/revert.png' %}">
				</a>
				<a href="javascript:diagen.magnifyViewport(-2)" title="Уменьшить изображение">
					<img src="{% static 'img/minus.png' %}">
				</a>
			</div>
	</div>

	<div id="modal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <p>Вставьте текст, который является описанием программы, в поле снизу.</p>

	    <hr color="#cccccc" size="1">
	    <textarea name="generatetext" id="generatetext" rows="10" class="gentext"></textarea>
	    <div align="right">
		    <a class="button" id="generatesubmit" data-url="{% url 'generate_diagram' %}">Сгенерировать</a>
		    <a class="button" id="closebybtn">Отмена</a>
	    </div>
	  </div>

	</div>


	<div id="load-animation" class="modal">
		<div id="floatingCirclesG">
			<div class="f_circleG" id="frotateG_01"></div>
			<div class="f_circleG" id="frotateG_02"></div>
			<div class="f_circleG" id="frotateG_03"></div>
			<div class="f_circleG" id="frotateG_04"></div>
			<div class="f_circleG" id="frotateG_05"></div>
			<div class="f_circleG" id="frotateG_06"></div>
			<div class="f_circleG" id="frotateG_07"></div>
			<div class="f_circleG" id="frotateG_08"></div>
		</div>
	</div>

    </div>


    

<script type="text" id="defaultGraph">@startuml
[модуль SETTINGS] as Settings
[модуль VIEW] as View
[модуль IMAGE PROCESSOR] as ImageProcessor
[модуль WORKER] as Worker
[модуль CONTOUR PROCESSOR] as ContourProcessor
[модуль FRACTAL CALCULATOR] as FractalCalculator
[ПРОГРАММА] as Программа
[модуль BINARIZER] as Binarizer
[модуль MORPHOLOGY PROCESSOR] as MorphologyProcessor
[модуль CONTOUR SEARCHER] as ContourSearcher
[модуль CONTOUR ENHANCER] as ContourEnhancer
[модуль BOX COUNTER] as BoxCounter
[модуль LEAST SQUARES CALCULATOR] as LeastSquaresCalculator
[алгоритм BOX COUNTING] as BoxCounting

Программа --> Settings : объединяются
Программа --> View : объединяются
Программа --> ImageProcessor : объединяются
ImageProcessor --> Binarizer : включает
ImageProcessor --> MorphologyProcessor : включает
Программа --> Worker : объединяются
Программа --> ContourProcessor : объединяются
ContourProcessor --> ContourSearcher : объединяет
ContourProcessor --> ContourEnhancer : объединяет
Программа --> FractalCalculator : объединяются
FractalCalculator --> BoxCounter : является
FractalCalculator --> LeastSquaresCalculator : является
BoxCounter --> BoxCounting : отвечает

@enduml
</script>

	<script src="{% static 'js/lodash.min.js' %}"></script>
	<script src="{% static 'js/codemirror.js' %}"></script>
	<script src="{% static 'js/diagen.js' %}"></script>


	</body>
</html>