
html, body {
	height: 100%;
    padding: 0;
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 100%;
	display: inline;
	margin: 0;
}
img {
    vertical-align: middle;
    border: 0;
}
a:-webkit-any-link {
    color: black;
    cursor: auto;
    text-decoration: none;
}

.wrap {
	height: 100%;
}
#linemarker {
	background: rgba(220,50,47,0.5);
	position: absolute;
	left: 0;
	top: -30px;
	width: 40px;
	height: 22px;
	z-index: 4;
}
#textarea {
	outline: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	border: 0;
	font-family: Consolas, Menlo, monospace;
	color: #657b83;
	padding: 30px 0 0 40px;
	resize: none;
	opacity: 1;
	transition: opacity 0.3s;
}
.CodeMirror {
  height: 100%;
  border: 0;
  width: 100%;
  padding: 30px 0 0 0;
  line-height: 25px;
  font-size: 16px;
  font-family: Consolas, Monaco, monospace;
  opacity: 1;
  transition: opacity 0.3s;
}

.CodeMirror .CodeMirror-linenumber {
  color: #D4CEBD;
  padding-left: 12px
}
.canvas-mode .CodeMirror {
	opacity: 0;
	transition: opacity 1s;
}

#canvas-panner {
	position: absolute;
	z-index: 2;
	width: 33%;
	height: 100%;
	background: rgba(0,0,0,0);
	top: 0;
	right: 20px;
	bottom: 0;
}
#linenumbers {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 100%;
	background: #f7f7f7;
    border-right: 1px solid #ddd;
	color:#D4CEBD;
}
#linenumbers.error {
	background: rgba(220,50,47,0.2);
	z-index: 4;
}
#canvas {
	position: absolute;
}


.pretty-button{
	color: #000;
	opacity: 0.5;
	text-decoration: none
}
.pretty-button:active{
	color: #000;
	opacity: 0.5;
	text-decoration: none
}

.pretty-button:hover{
	color: #000;
	opacity: 0.5;
	text-decoration: none
}

.tools {
	display: block;
	position: absolute;
	z-index: 4;
	top: 25px;
	right: 20px;
	font-weight: bold;
	border-radius: 5px;
}
.tools .canvas-tools {
	display: block;
	position: absolute;
	top: 60px;
	right: 0;
	width: 24px;
	transition: opacity 1s;
}
.canvas-mode .canvas-tools {
	opacity: 1;
	transition: opacity 0.3s;
}
.tools img {
	width: 30px;
	height: 30px;
	margin-bottom: 10px;
}
.tools>a {
	margin-left: 5px;
}
.tools>.logo {
	color: #000;
	font-size: 200%;
}
.tools>#tooltip {
	font-size: 120%;
	color: #807C72;
	position: fixed;
	top: 5px;
	right: 20px;
	text-align: right;
	border-radius: 2px;
	padding: 0 10px;
}
.tools > #storage-status {
	display: none;
	color: #000;
	opacity: 0.5;
	font-style: italic;
	position: fixed;
	top: 7px;
	right: 0;
	width: 100%;
	text-align: center;
}
.tools > #storage-status a {
	border: 2px solid #333;
	padding: 0 5px;
	border-radius: 4px;
	font-style: normal;
	opacity: 1;
}

.sidebar {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0px;
	right:0;
	bottom: 0;
	width: 350px;
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.28);
}
.sidebar.visible {
	display: block;
	overflow: auto;
}
.sidebar .logo-background {
	position: fixed;
	top: 0;
	right: 20px;
	width: 300px;
	height: 70px;
}
.content {
	display: block;
	color: #586e75;
	font-family: Consolas, Monaco, monospace;
	padding: 70px 10px 200px 20px;
}
.content p {
	font-family: Arial, Helvetica, sans-serif;
}
.content label{
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content h2{
	font-size: inherit;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content b {
	display: inline-block;
	font-weight: normal;
	width: 40%;
	font-family: Arial, Helvetica, sans-serif;
	color: #93a1a1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-generate-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Modal Content/Box */
.modal-login-content {
	max-width:600px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gentext {
	width:100%;
}

.button {
    border: 1px solid #000000;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: 5px 0 5px 5px;
}

.closecross {
	display: inline-block;
	cursor: pointer;
	float: right;
}

.inputtext{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.wide-button{
    padding: 14px 0px;
    margin: 8px 0;
    width: 100%;
}

